* {
    margin: 0;
    padding: 0;
}

:root{
    font-family: "Open Sans", sans-serif;
    line-height: 150%;
}


#page {
    width: 1120px;
    border-radius: 24px;
    margin: auto;
     box-sizing: border-box;
}


.busan {
    width: 1120px 660px;
    border-radius: 28px;
}

.busann p{
    margin-top: 24px;
}

main{
    padding: auto;

}

p {
    font-size: 16px;
    color: #1E1E1E;
}

h1 {
    line-height: 140%;
    font-size: 36px;
}
b {
    color: #E1624F;
    font-size: 16px;
}

img{
  border-radius: 28px;
}
.historia{
    color: #0C51A7;
}

.motivos{
    color: #333333;
}

.casais{
    color: #591B98;
}

.familias{
    color: #E5245E;
}

.orcamentos{
    color: #E95E10;
}

